<h1>Make Your Very Own Survey!</h1>

<form method="post" action="/survey/new">
  Name Your Survey: <input type="text" name="title"><br>
  <input type="submit" name="make_survey" value="Create Survey">
</form>
