<h2><%= @survey.title %></h2>
<form action="/survey/<%= @survey.id%>/submit" method="post">
<% @survey.questions.each do |q| %>
  <p><%=q.question_text%></p><input type="text" name="response">
<%end%>
<input type="submit" value="Submit that form!">
</form>
