<h2><%= @survey.title %></h2>
<%= @survey.questions.first.question_text %>
<form action="/survey/<%= @survey.id %>" method="post">
  <p><input type="text" name="response"></p>
  <input type="submit" value="Submit that form!">
</form>


