.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

table {
  border: 1px solid black;
  padding-left: 5px;
  width:100%;
}

th {
  border: 1px solid black;
  text-align: left;
  background-color: #DDD;
}

td {
  border: 1px solid black;
}
