<h2>ALL OF THE SURV3YS.</h2>
  <table>
    <th>Survey Name</th>
    <th>Date</th>
    <th>Creator</th>
    <th>Participants</th>
    <% @surveys.each do |s| %>
    <tr>
      <td><a href="/survey/<%=s.id%>"><%= s.title %></a></td>
      <td><%= s.created_at.to_date %></td>
      <td><%# s.creator.username %></td>
      <td><%= s.participants.count %></td>
    </tr>
    <% end %>
  </table>

