<h1>Make Your Very Own Survey!</h1>

<form method="post" action="/">
  Title: <input type="text" name="question"><br>
  Question 1: <input type="text" name="question"><br>
  Response 1:
  <!-- <textarea></textarea><br> -->
  <input type="submit" name="add_question" value="Add Question">
</form>
